<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Meigee_Barbour::top_level"
             title="Meigee"
             module="Meigee_Barbour"
             sortOrder="9999"
             resource="Magento_Backend::system"
            />
		<add id="Meigee_Barbour::second_level"
             title="Barbour"
             module="Meigee_Barbour"
             sortOrder="1"
             resource="Meigee_Barbour::system"
             parent="Meigee_Barbour::top_level"
			 action="adminhtml/system_config/edit/section/barbour_general"
            />
    </menu>
</config>
