<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Rootways_Faq::config_faq" title="Rootways FAQ" sortOrder="130" />
                        </resource>
                    </resource>
                </resource>
                
				<resource id="Rootways_Faq::faqs" title="Rootways FAQs">
                    <resource id="Rootways_Faq::faq" title="FAQs">
                        <resource id="Rootways_Faq::faq_create" title="Create"/>
                        <resource id="Rootways_Faq::faq_edit" title="Edit" />
                        <resource id="Rootways_Faq::faq_delete" title="Delete"/>
                    </resource>
                    <resource id="Rootways_Faq::category" title="FAQ Categories">
                        <resource id="Rootways_Faq::category_create" title="Create"/>
                        <resource id="Rootways_Faq::category_edit" title="Edit" />
                        <resource id="Rootways_Faq::category_delete" title="Delete"/>
                    </resource>
                </resource>
                          
                                              
            </resource>
        </resources>
    </acl>
</config>
