@font-face {
  font-family: 'meigee-additional';
  src:  url('../fonts/meigee-additional.eot?qwfmqb');
  src:  url('../fonts/meigee-additional.eot?qwfmqb#iefix') format('embedded-opentype'),
    url('../fonts/meigee-additional.ttf?qwfmqb') format('truetype'),
    url('../fonts/meigee-additional.woff?qwfmqb') format('woff'),
    url('../fonts/meigee-additional.svg?qwfmqb#meigee-additional') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="meigeeadditional-"], [class*=" meigeeadditional-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'meigee-additional' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.meigeeadditional-author:before {
  content: "\e90a";
}
.meigeeadditional-category:before {
  content: "\e90b";
}
.meigeeadditional-clock:before {
  content: "\e90c";
}
.meigeeadditional-comment:before {
  content: "\e90d";
}
.meigeeadditional-post:before {
  content: "\e90e";
}
.meigeeadditional-star:before {
  content: "\e90f";
}
.meigeeadditional-check-new:before {
  content: "\e909";
}
.meigeeadditional-size:before {
  content: "\e908";
}
.meigeeadditional-coupon:before {
  content: "\e907";
}
.meigeeadditional-grid-5:before {
  content: "\e903";
}
.meigeeadditional-grid-6:before {
  content: "\e904";
}
.meigeeadditional-grid-7:before {
  content: "\e905";
}
.meigeeadditional-grid-8:before {
  content: "\e906";
}
.meigeeadditional-grid-2:before {
  content: "\e902";
}
.meigeeadditional-grid-3:before {
  content: "\e900";
}
.meigeeadditional-grid-4:before {
  content: "\e901";
}
.meigeeadditional-fa-reply:before {
  content: "\e910";
}
