<?xml version="1.0"?>
<!--
/**
 * @author Ict Team
 * @copyright Copyright (c) 2017 Ict (http://icreativetechnologies.com/)
 * @package Ict_Stateshipping
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../Backend/etc/system_file.xsd">
    <system>
        <tab id="ict" translate="label" sortOrder="1">
            <label>Ict Extension</label>
        </tab>
        <section id="stateshipping" translate="label" sortOrder="1" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Stateshipping</label>
            <tab>ict</tab>
            <resource>Ict_Stateshipping::config_stateshipping</resource>

            <!-- Create General Configuration-->

            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Ict Stateshipping</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <!-- End General Configuration-->
  
        </section>
		<section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
			<group id="freeshipping" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
				<field id="ictspecificcountry" translate="label" type="select" sortOrder="91" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
				<field id="specificstate" translate="label" type="multiselect" sortOrder="92" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific State</label>
                    <source_model>Ict\Stateshipping\Model\Config\Source\Stateict</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
			</group>
			<group id="flatrate" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
				<field id="ictspecificcountry" translate="label" type="select" sortOrder="91" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
				<field id="specificstate" translate="label" type="multiselect" sortOrder="92" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific State</label>
                    <source_model>Ict\Stateshipping\Model\Config\Source\Stateict</source_model>
                    <can_be_empty>1</can_be_empty>
					<comment>Shipping methods only available for selected states of country.</comment>
                </field>
			</group>
			<group id="tablerate" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<field id="ictspecificcountry" translate="label" type="select" sortOrder="91" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
				<field id="specificstate" translate="label" type="multiselect" sortOrder="92" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific State</label>
                    <source_model>Ict\Stateshipping\Model\Config\Source\Stateict</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
			</group>
			<group id="ups" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
				<field id="ictspecificcountry" translate="label" type="select" sortOrder="910" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
				<field id="specificstate" translate="label" type="multiselect" sortOrder="911" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific State</label>
                    <source_model>Ict\Stateshipping\Model\Config\Source\Stateict</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
			</group>
			<group id="fedex" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
				<field id="ictspecificcountry" translate="label" type="select" sortOrder="260" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
				<field id="specificstate" translate="label" type="multiselect" sortOrder="261" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific State</label>
                    <source_model>Ict\Stateshipping\Model\Config\Source\Stateict</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
			</group>
			<group id="usps" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
				<field id="ictspecificcountry" translate="label" type="select" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
				<field id="specificstate" translate="label" type="multiselect" sortOrder="191" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific State</label>
                    <source_model>Ict\Stateshipping\Model\Config\Source\Stateict</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
			</group>
		</section>
	</system>
</config>