/* Fonts */
html body,
body .btn,
body button.action,
.sidebar .block li a.action.tocart,
.actions-toolbar a.primary,
.sidebar .block.block-compare  .actions-toolbar .action,
.sidebar .block.block-wishlist .actions-toolbar a.action.details,
.sidebar .block.block-reorder  .actions-toolbar .secondary a.action.view,
.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart,
body .cart-container .cart.actions a.action.continue,
body .weltpixel-quickview,
button.action-primary,
button.action-secondary,
body.checkout-index-index button[type="submit"],
.weltpixel-quickview-catalog-product-view button.action,
.weltpixel_quickview-catalog_product-view button.action,
.product-info-main .actions button,
.page-header .options-wrapper .options-dropdown .header-switcher .label,
.price,
.product-labels span,
.filter-options-title,
body .subscribe-block .content button.action,
.sidebar .block.filter .options dt,
.sidebar .block.filter ol li a {font-family: 'Open Sans', sans-serif}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6,
.product.data.items > .item.title > .switch,
.nav-sections .switcher,
.nav-sections .links li a ,
.page-header .header-info,
.page-header .customer-name .user-icon,
.customer-welcome .customer-name,
.header-wrapper .navbar-collapse.collapse a.level-top,
.block-minicart .subtotal,
.page-header .header-custom-block-wrapper,
.page-header .action.nav-toggle,
.page-header .header-switcher ul li a,
.page-header .header-switcher ul li span,
.page-header .header-switcher .switcher-trigger span,
body .subscribe-block .block-title,
.parallax-banners-wrapper .banner-content .title,
.parallax-banners-wrapper .banner-content .subtitle,
.parallax-banners-wrapper .banner-content .text,
#home-slider .owl-item .title,
.page-title,
.page-title h1,
#tabs .nav-tabs li a,
.related .block-actions .action,
.reviews-wrapper .review-title,
#popup-block .block.newsletter .title,
.customer-review.view .review-details .title,
.customer-review.view .review-title,
.block-collapsible-nav-title,
.sidebar .block li a,
.sidebar .block li strong,
.block-reviews-dashboard ol li .product-name a,
.table-caption,
.multicheckout .block .title,
.checkout-container .opc-progress-bar-item > span:after,
.opc-wrapper .step-title,
.opc-block-shipping-information .shipping-information-title,
.opc-block-summary > .title,
.checkout-agreements-items .checkout-agreements-item-title,
.checkout-payment-method .payment-method-title,
.checkout-payment-method .payment-option-title .action-toggle,
.footer .footer-block-title,
.accordion-list .accordion-item .accordion-title,
body button.action,
.sidebar .block.block-compare  .actions-toolbar .action,
.sidebar .block.block-wishlist .actions-toolbar a.action.details,
.sidebar .block.block-reorder  .actions-toolbar .secondary a.action.view,
.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart,
.products-grid .product-item-name,
.products-list .product-item-name,
body .page-header.cart-header .page-title,
.cart-summary .block > .title,
.table.totals caption.table-caption,
.sidebar .block .block-title,
.block-title,
.sidebar .block .title,
.block-collapsible-nav-title,
.cart-summary #block-shipping .title,
body .page-header .checkout-header .page-title,
.minicart-items .product-item-name,
.product-info-main .product-options-wrapper .label,
.product-info-main .product-options-wrapper .swatch-attribute-label,
body .swatch-attribute-selected-option,
.cat-container .text-banner .title,
.listing-banner-wrapper .listing-banner .subtitle,
.listing-banner-wrapper .listing-banner .title {font-family: 'Montserrat', sans-serif;}

/* Colors: */
/* Skin Color 1 */

.skincolor-bg,
.minicart-wrapper .title-cart.active .counter-number,
#home-slider .owl-nav div:hover,
.cms-no-route .page-not-found .btn:hover,
.ekko-lightbox-nav-overlay a i:hover,
.minicart-wrapper .title-cart .counter-number,
.toolbar .toolbar-sorter .sorter-action:hover{background-color: #3185fc;}

.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart,
.sidebar .block.block-compare .actions-toolbar .primary a.action,
body .btn.btn-primary,
body .btn.btn-primary.type-2:hover,
body .btn.btn-primary.type-2:active,
body .btn.btn-primary.type-2:focus,
body .btn.btn-primary.type-2.hover,
body .btn.btn-primary.type-2.active,
body .btn.btn-primary.type-2.focus,
body .btn.btn-primary.type-2.disabled:hover,
body .btn.btn-primary.type-2[disabled]:hover,
body fieldset[disabled] .btn.btn-primary.type-2:hover,
body .btn.btn-primary.type-2.disabled:focus,
body .btn.btn-primary.type-2[disabled]:focus,
body fieldset[disabled] .btn.btn-primary.type-2:focus,
body .btn.btn-primary.type-2.disabled.focus,
body .btn.btn-primary.type-2[disabled].focus,
body fieldset[disabled] .btn.btn-primary.type-2.focus,
.weltpixel_quickview-catalog_product-view button.action.primary:hover,
.weltpixel_quickview-catalog_product-view button.action.primary:active,
.weltpixel_quickview-catalog_product-view button.action.primary:focus,
.weltpixel_quickview-catalog_product-view button.action.primary.hover,
.weltpixel_quickview-catalog_product-view button.action.primary.active,
.weltpixel_quickview-catalog_product-view button.action.primary.focus,
.weltpixel_quickview-catalog_product-view button.action.primary.disabled:hover,
.weltpixel_quickview-catalog_product-view button.action.primary[disabled]:hover,
.weltpixel_quickview-catalog_product-view button.action.primary.disabled:focus,
.weltpixel_quickview-catalog_product-view button.action.primary[disabled]:focus,
.weltpixel_quickview-catalog_product-view button.action.primary.disabled.focus,
.weltpixel_quickview-catalog_product-view button.action.primary[disabled].focus,
.weltpixel-quickview-catalog-product-view button.action.primary:hover,
.weltpixel-quickview-catalog-product-view button.action.primary:active,
.weltpixel-quickview-catalog-product-view button.action.primary:focus,
.weltpixel-quickview-catalog-product-view button.action.primary.hover,
.weltpixel-quickview-catalog-product-view button.action.primary.active,
.weltpixel-quickview-catalog-product-view button.action.primary.focus,
.weltpixel-quickview-catalog-product-view button.action.primary.disabled:hover,
.weltpixel-quickview-catalog-product-view button.action.primary[disabled]:hover,
.weltpixel-quickview-catalog-product-view button.action.primary.disabled:focus,
.weltpixel-quickview-catalog-product-view button.action.primary[disabled]:focus,
.weltpixel-quickview-catalog-product-view button.action.primary.disabled.focus,
.weltpixel-quickview-catalog-product-view button.action.primary[disabled].focus,
body .btn.btn-primary.light.type-2:hover,
body .btn.btn-primary.light.type-2:active,
body .btn.btn-primary.light.type-2:focus,
body .btn.btn-primary.light.type-2.hover,
body .btn.btn-primary.light.type-2.active,
body .btn.btn-primary.light.type-2.focus,
body .btn.btn-primary.light.type-2.disabled:hover,
body .btn.btn-primary.light.type-2[disabled]:hover,
body .btn.btn-primary.light.type-2.disabled:hover,
body .btn.btn-primary.light.type-2[disabled]:hover,
body fieldset[disabled] .btn.btn-primary.light.type-2:hover,
body .btn.btn-primary.light.type-2.disabled:focus,
body .btn.btn-primary.light.type-2[disabled]:focus,
body fieldset[disabled] .btn.btn-primary.light.type-2:focus,
body .btn.btn-primary.light.type-2.disabled.focus,
body .btn-primary[disabled].light.type-2.focus,
body fieldset[disabled] .btn.btn-primary.light.type-2.focus,
.products-list .actions-secondary a:hover i,
#popup-block .block.newsletter button,
.products-grid .weltpixel-quickview,
.products-list .weltpixel-quickview{
  background-color: #3185fc;
  border-color: #3185fc;
}
.label-type-4 > span.label-sale:after {
  border-bottom-color: #3185fc;
}
.label-type-4 > span.label-sale:before {
  border-top-color: #3185fc;
}
.label-type-4 > span + span.label-sale:before {
  border-top-color: #3185fc;
}
.label-type-4 > span + span.label-sale:after {
  border-bottom-color: #3185fc;
}

/* Skin Color 2 */
body a,
.skincolor,
.header.links li.authorization-link a,
.customer-welcome .customer-name,
ul.breadcrumb li a:hover,
body .breadcrumbs > .items li a:hover,
.toolbar .modes strong i,
.products-list .actions-secondary a:hover,
.related .block-actions .action:hover,
.reviews-wrapper .review-author strong,
.reviews-actions a:hover,
body .swatch-attribute .swatch-option:not(.disabled):hover,
body .swatch-attribute.size .swatch-option.selected,
body .swatch-attribute.manufacturer .swatch-option.selected,
.authentication-wrapper .action-auth-toggle:hover,
.sidebar .block li a.delete:hover,
body a:hover,
body a:focus,
.skincolor-2,
.page-header .header-switcher .options .action.toggle:hover,
.page-header .header-switcher .options .action.toggle.active,
.header.links li.authorization-link a:hover,
.page-header .customer-name-wrapper + .links li a i,
.page-header .customer-name-wrapper + .links li a:hover,
.customer-welcome .customer-name.active,
.customer-welcome .customer-name:hover,
.header-wrapper .header.links .customer-menu li a:hover,
.header-wrapper .header.links .customer-menu li.authorization-link a:hover,
.navigation .level0 .submenu a:hover,
.navigation .level0 .submenu a.ui-state-focus,
.navigation .level0 .submenu .active > a,
.minicart-items .action.edit:hover,
.minicart-items .action.delete:hover,
.page-header .custom-wish-link a:hover,
.page-header .custom-wish-link a:focus,
.page-header .custom-wish-link a:active,
.price-box .special-price .price,
.product-info-main .title-wrapper .add-review:hover,
#popup-block .modal-header .close:hover i,
.account .content-inner .product-item-name a:hover,
.account .content-inner a:hover,
.block-dashboard-addresses .block-title a :hover,
.block-dashboard-info .block-title a i:hover,
.box .box-title a i:hover,
#my-orders-table a:hover,
#shopping-cart-table tbody tr td.actions a:hover,
.checkout-methods-items li a:hover,
.modal-open .modal.ekko-lightbox .modal-header .close:hover:before,
.lightbox-button:hover,
.sidebar .block.filter ol li a:hover{color: #e84855;}

.skincolor-2-bg,
.page-header .customer-name-wrapper + .links li a .hover-divider,
.owl-nav div:hover {background-color: #e84855;}

body button.action.primary:hover,
body button.action.primary:focus,
body button.action.primary:active,
.sidebar .block.block-compare  .actions-toolbar .action:hover,
.sidebar .block.block-wishlist .actions-toolbar a.action.details:hover,
.sidebar .block.block-reorder  .actions-toolbar .secondary a.action.view:hover,
.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart:hover,
body .btn.btn-primary:hover,
body .btn.btn-primary:active,
body .btn.btn-primary:focus,
body .btn.btn-primary.hover,
body .btn.btn-primary.active,
body .btn.btn-primary.focus,
body .btn.btn-primary.disabled:hover,
body .btn.btn-primary[disabled]:hover,
body fieldset[disabled] .btn.btn-primary:hover,
body .btn.btn-primary.disabled:focus,
body .btn.btn-primary[disabled]:focus,
body fieldset[disabled] .btn.btn-primary:focus,
body .btn.btn-primary.disabled.focus,
body .btn.btn-primary[disabled].focus,
body fieldset[disabled] .btn.btn-primary.focus,
body .weltpixel-quickview:hover,
body .weltpixel-quickview:active,
body .weltpixel-quickview:focus,
body .weltpixel-quickview.hover,
body .weltpixel-quickview.active,
body .weltpixel-quickview.focus,
body .weltpixel-quickview.disabled:hover,
body .weltpixel-quickview[disabled]:hover,
body .weltpixel-quickview.disabled:focus,
body .weltpixel-quickview[disabled]:focus,
body .weltpixel-quickview.disabled.focus,
body .weltpixel-quickview[disabled].focus,
body .btn.btn-primary.type-2,
.weltpixel-quickview-catalog-product-view button.action,
.weltpixel_quickview-catalog_product-view button.action,
body .btn.btn-primary.light:hover,
body .btn.btn-primary.light:active,
body .btn.btn-primary.light:focus,
body .btn.btn-primary.light.hover,
body .btn.btn-primary.light.active,
body .btn.btn-primary.light.focus,
body .btn.btn-primary.light.disabled:hover,
body .btn.btn-primary.light[disabled]:hover,
body .btn.btn-primary.light.disabled:hover,
body .btn.btn-primary.light[disabled]:hover,
body fieldset[disabled] .btn.btn-primary.light:hover,
body .btn.btn-primary.light.disabled:focus,
body .btn.btn-primary.light[disabled]:focus,
body fieldset[disabled] .btn.btn-primary.light:focus,
body .btn.btn-primary.light.disabled.focus,
body .btn-primary[disabled].light.focus,
body fieldset[disabled] .btn.btn-primary.light.focus,
#popup-block .block.newsletter button:hover,
#popup-block .block.newsletter button:active,
#popup-block .block.newsletter button:focus,
#popup-block .block.newsletter button.hover,
#popup-block .block.newsletter button.active,
#popup-block .block.newsletter button.focus,
#popup-block .block.newsletter button.disabled:hover,
#popup-block .block.newsletter button[disabled]:hover,
#popup-block .block.newsletter fieldset[disabled] .btn:hover,
#popup-block .block.newsletter button.disabled:focus,
#popup-block .block.newsletter button[disabled]:focus,
#popup-block .block.newsletter fieldset[disabled] .btn:focus,
#popup-block .block.newsletter button.disabled.focus,
#popup-block .block.newsletter button[disabled].focus,
#popup-block .block.newsletter fieldset[disabled] .btn.focus,
.opc button.action:hover,
.opc button.action:focus,
.opc button.action:active{
  background-color: #e84855;
  border-color: #e84855;
}





body .btn,
body .weltpixel-quickview,
button.action-primary,
button.action-secondary,
body.checkout-index-index button[type="submit"],
.weltpixel-quickview-catalog-product-view button.action,
.weltpixel_quickview-catalog_product-view button.action,
.product-info-main .actions button{border-radius: 0;}

.cms-index-index .content-wrapper {
  padding-top: 0;
}

body[class*='blog-'] .sidebar .block,
.catalogsearch-result-index .sidebar .block,
.catalogsearch-advanced-result .sidebar-wrapper,
.catalog-category-view .sidebar .block,
.sidebar.right-sidebar .meigee-instagram-widget,
body[class*='blog-'] .right-sidebar.sidebar .block,
.catalogsearch-result-index .right-sidebar.sidebar .block,
.catalogsearch-advanced-result .right-sidebar.sidebar .block,
.catalog-category-view .right-sidebar.sidebar .block {
  padding: 20px 0;
}
body[class*='blog-'] .sidebar-wrapper,
.catalogsearch-result-index .sidebar-wrapper,
.catalogsearch-advanced-result .sidebar-wrapper,
.catalog-category-view .sidebar-wrapper,
body[class*='blog-'] .right-sidebar .sidebar-wrapper,
.catalogsearch-result-index .right-sidebar .sidebar-wrapper,
.catalogsearch-advanced-result .right-sidebar .sidebar-wrapper,
.catalog-category-view .right-sidebar .sidebar-wrapper {
  margin: 0;
}
body[class*='blog-'] .sidebar:not(.sidebar-wrapper),
.catalogsearch-result-index .sidebar:not(.sidebar-wrapper),
.catalogsearch-advanced-result .sidebar:not(.sidebar-wrapper),
.catalog-category-view .sidebar:not(.sidebar-wrapper),
body[class*='blog-'].page-layout-3columns .sidebar-wrapper,
.catalogsearch-result-index.page-layout-3columns .sidebar-wrapper,
.catalogsearch-advanced-result.page-layout-3columns .sidebar-wrapper,
.catalog-category-view.page-layout-3columns .sidebar-wrapper {
  background-color: transparent;
}
.page-layout-3columns .sidebar .block {
  margin-left: 0;
  margin-right: 0;
}
body[class*='blog-'].page-layout-2columns-left .main-container .content-inner,
.catalogsearch-result-index.page-layout-2columns-left .main-container .content-inner,
.catalogsearch-advanced-result.page-layout-2columns-left .main-container .content-inner,
.catalog-category-view.page-layout-2columns-left .main-container .content-inner {
  padding-left: 20px;
}
body[class*='blog-'].page-layout-2columns-right .main-container .content-inner,
.catalogsearch-result-index.page-layout-2columns-right .main-container .content-inner,
.catalogsearch-advanced-result.page-layout-2columns-right .main-container .content-inner,
.catalog-category-view.page-layout-2columns-right .main-container .content-inner {
  padding-right: 20px;
}

.page-title,
.page-title h1,
.breadcrumbs-wrapper.type-2 .page-title h1,
.breadcrumbs-wrapper.type-2 .page-title h2,
.filter-options-title,
.sidebar .block .block-title strong,
.block-collapsible-nav-title strong {
  font-weight: normal;
}
.label-type-1 .label-sale.availability-only {
  line-height: 24px;
}
.label-type-2 span {
  line-height: normal;
}
.label-type-2 span.label-sale.percentage {
  line-height: 1.4em;
}
.label-type-2 span.label-sale.percentage span {
  position: relative;
  top: -1px;
}
@-moz-document url-prefix() {
  .label-type-2 span.label-sale.percentage {
    line-height: 1.3;
  }
}
/* Header */
.page-wrapper .middle-block{border-bottom: 1px solid rgba(0,0,0,0.08);}
.wide-layout .header-wrapper .menu-wrapper:before {height: 0;}
.page-header .welcome{color: #222; font-size: 13px;}
.minicart-wrapper .title-cart .icon i{color: rgba(0,0,0,0.2); font-size: 24px;}
.minicart-wrapper .title-cart .icon + .text{display: none;}
.minicart-wrapper .title-cart .counter-number{color:#fff;}

.wide-layout .header-wrapper .menu-wrapper,
.boxed-layout .header-wrapper .menu-wrapper .menu-inner {
  border: none;
}
.page-header .action.nav-toggle {color: #222;}
.page-header .logo-wrapper {
  float: left;
  padding-left: 10px;
}
.header-wrapper .block-search {
  max-width: 480px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 60px;
  margin-left: 30px;
}
.header-wrapper .block-search .input-group {
  background-color: transparent;
  border: 2px solid #3185fc;
  border-radius: 0;
}
.header-wrapper .block-search .search-icon i {
  color: #3185fc;
}
.header-wrapper .block-search .btn {
  min-height: 38px;
  width: 41px;
  padding: 0;
  background-color: #3185fc;
  color: #fff;
  border-radius: 0;
}
.header-wrapper .block-search .btn:hover,
.header-wrapper .block-search .btn:focus,
.header-wrapper .block-search .btn:active {
  opacity: 0.8;
  background-color: #3185fc;
}
.header-wrapper .block-search.focused .btn {
  color: #fff;
}
.header-wrapper .block-search.focused .search-icon i {
  color: #3185fc;
}
.header-wrapper .block-search.focused .input-group {
  background-color: #fff;
}
.header-wrapper .block-search.focused .search-icon:after {
    background-color: rgba(0,0,0,0.1);
}
.header-wrapper .block-search.focused .btn:hover,
.header-wrapper .block-search.focused .btn:active,
.header-wrapper .block-search.focused .btn:focus {
  background-color: #3185fc;
}
@-moz-document url-prefix() {
  .header-wrapper .block-search .search-icon i {
    position: relative;
    top: 0;
  }
}
.header-wrapper .block-search .btn span span {
  display: none;
}
.header-wrapper .block-search .action-btn.hidden-xs .btn i:before {
  content: '\0079';
}
.header-wrapper .block-search .btn i {
  display: block;
  position: relative;
  top: 1px;
}
.header-wrapper .block-search input,
.header-wrapper .block-search .search-icon {
  height: 38px;
  line-height: 38px;
}
.options-wrapper + .minicart-wrapper .action.showcart:before {
    display: block;
    position: absolute;
    content: '';
    height: 40px;
    width: 1px;
    left: 0;
    top: 50%;
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.2);
}
.page-header .options-wrapper .options-block .title span {
  display: none;
}
.page-header .options-wrapper .options-block .title i {
  font-size: 24px;
  color: rgba(0,0,0,0.2);
  margin: 0;
}
.page-header .options-wrapper .options-block {
  font-size: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
}
.page-header .options-wrapper .options-block:hover{
  background-color: rgba(0,0,0,0.08);
  border-radius: 5px;
  color: #888;
}
.page-header .options-wrapper .options-block.open {
  background-color: rgba(0,0,0,0.08);
  border-radius: 5px 5px 0 0;
  color: #888;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.08);
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.08);
}
.minicart-wrapper .title-cart {
  border: none;
}
.minicart-wrapper .title-cart:hover {
  opacity: 1;
  background-color: rgba(0,0,0,0.08);
  border: none;
  color: #888;
  border-radius: 5px;
}
.minicart-wrapper .title-cart.active {
  opacity: 1;
  background-color: rgba(0,0,0,0.08);
  border: none;
  color: #888;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.08);
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.08);
}
.header-wrapper .page-header .block-search.type-2 .search-button {
  color: rgba(0,0,0,0.2);
}
.wide-layout .header-wrapper .menu-wrapper,
.boxed-layout .header-wrapper .menu-wrapper .menu-inner {float: left;}

.text-banners-block .text-banner {
  background-color: #3185fc;
  background-image: url('../../images/barbour_electronics_2_bg_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.text-banners-block .btn {
  color: #3185fc;
}
.text-banners-block .btn.btn-primary {
  background-color: #222;
}
.text-banners-block .text-banner.item-2 {
  background-color: #e84855;
  background-image: url('../../images/barbour_electronics_2_bg_2.jpg');
}
.text-banners-block .text-banner.item-2 .btn {
  color: #e84855;
}
.text-banners-block .text-banner.item-3 {
  background-color: #f9dc5c;
  background-image: url('../../images/barbour_electronics_2_bg_3.jpg');
}
.text-banners-block .text-banner.item-3 .title {
  color: #222;
}
.text-banners-block .text-banner.item-3 .btn {
  color: #f9dc5c;
}
#home-slider.owl-theme .owl-dots {
  position: absolute;
  bottom: 15px;
  right: 0;
  left: 0;
  text-align: center;
}

#home-slider .owl-nav div {
  padding: 0;
  position: absolute;
  opacity: 0;
  z-index: 3;
  top: 50%;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 0;
  margin: 0;
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: opacity 400ms ease, background-color 300ms;
  -moz-transition: opacity 400ms ease, background-color 300ms;
  -webkit-transition: opacity 400ms ease, background-color 300ms;
  -o-transition: opacity 400ms ease, background-color 300ms;
}
#home-slider .owl-nav div i {
  font-style: normal;
  line-height: inherit;
  vertical-align: middle;
  -o-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  display: inline-block;
}
#home-slider .owl-nav div.owl-prev {
  left: 0;
}
#home-slider .owl-nav div.owl-next {
  right: 0;
  left: auto;
}
#home-slider.owl-theme .owl-dots .owl-dot span,
#home-slider.owl-theme .owl-dots .owl-dot {
  background-color: rgba(0,0,0,0.3);
}
#home-slider.owl-theme .owl-dots .owl-dot.active span,
#home-slider.owl-theme .owl-dots .owl-dot:hover span,
#home-slider.owl-theme .owl-dots .owl-dot.active,
#home-slider.owl-theme .owl-dots .owl-dot:hover {
  background-color: #3185fc;
}
#home-slider .owl-item .subtitle {
  color: #aaa;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  margin-bottom: 10px;
}
#home-slider .owl-item .title {
  color: #222;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 10px;
}
#home-slider .owl-item .title small {
  font-weight: 400;
}
#home-slider .owl-item .text {
  color: #aaa;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat';
  margin-bottom: 18px;
}
#home-slider .slider-price-wrapper {
  position: absolute;
  left: 14%;
  bottom: 36.3%;
  z-index: 9;
  font-family: 'Montserrat';
}
#home-slider .slider-price-small {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  vertical-align: text-top;
  position: relative;
  left: -2px;
  top: -1px;
}
#home-slider .slider-price {
  color: #e84855;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}
#home-slider .slider-price-text {
  display: block;
  line-height: 1;
  color: #aaa;
  font-size: 9px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 4px;
}
#home-slider .owl-item .slide-container {
  position: absolute;
  top: 9.4%;
  left: 14%;
  bottom: auto;
}
#home-slider .owl-item .slide-container.slide-skin-2 .title {
  color: #222;
}
#home-slider .owl-item .slide-container.slide-skin-2 .text{
  color: #aaa;
}
#home-slider .owl-item .slide-container.slide-skin-2 .subtitle {
  color: #aaa;
  margin-bottom: 10px;
}
#home-slider .owl-item .slider-price-wrapper.slide-skin-2 .slider-price-small {
  font-size: 26px;
  line-height: 36px;
}
#home-slider .owl-item .slider-price-wrapper.slide-skin-2 .slider-price-text {
  font-size: 11px;
  margin-bottom: 10px;
}
#home-slider .owl-item .slider-price-wrapper.slide-skin-2 .slider-price {
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -1px;
}
#home-slider .owl-item .slider-price-wrapper.slide-skin-2 {
  left: 12.7%;
  bottom: 17.6%;
}
#home-slider .owl-item .slide-container.slide-skin-2 {
  position: absolute;
  top: 8.4%;
  left: 13%;
  right: auto;
  bottom: auto;
}
#home-slider .owl-item .slide-container.slide-skin-3 {
  position: absolute;
  top: 23%;
  left: 14%;
  bottom: auto;
}
#home-slider .owl-item .slider-price-wrapper.slide-skin-3 {
  bottom: 9%;
}


body .subscribe-block {
  padding: 50px 60px;
  border: 1px solid rgba(0,0,0,0.08);
  background: transparent;
}
.subscribe-block .block-title {
  display: block;
  float: left;
  color: #3d348b;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  width: 33.33333333%;
  border: none;
  letter-spacing: -1px;
  padding-bottom: 0;
  margin-bottom: 0;
}
body .subscribe-block .block.newsletter {
  display: block;
  float: left;
  width: 66.66666667%;
  color: #666;
}
.subscribe-block .block-title strong {
  font-weight: bold;
}
body .subscribe-block {
  color: #666;
}
body .subscribe-block .content .field.newsletter {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
body .subscribe-block .content label {
  width: 46.89999%;
  display: inline-block;
  max-width: 413px;
  padding-bottom: 18px;
  font-size: 14px;
  cursor: auto;
  font-family: inherit;
  font-weight: normal;
  color: #666;
  text-align: left;
  padding-bottom: 0;
}
body .subscribe-block .content .control {
  display: inline-block;
  vertical-align: top;
  width: 270px;
  position: relative;
  margin-top: 10px;
}
body .subscribe-block .content label span {
  padding: 6px 60px 0 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
body .subscribe-block .content .actions {
  vertical-align: top;
  display: inline-block;
}
body .subscribe-block .content button.action {
  padding: 0 19px;
  border-radius: 0;
  margin: 10px 0 0 0;
}
.subscribe-block .block-subscribe .block-title {
  display: none;
}
body .subscribe-block .block.newsletter .input-wrapper {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}
body .subscribe-block .block.newsletter
body .subscribe-block .block-content .input-wrapper {
  border: none;
  border-radius: 0;
  padding: 0;
  position: relative;
  margin-top: 10px;
}
body .subscribe-block .block.newsletter .input-wrapper {
  width: 270px;
}
body .subscribe-block .content input {
  background-color: rgba(0,0,0,0.08);
  padding-left: 20px;
  color: #aaa;
  font-size: 13px;
  border: none;
  height: 38px;
}

body .subscribe-block .content input::-webkit-input-placeholder {
  color: #aaa;
}
body .subscribe-block .content input::-moz-placeholder {
  color: #aaa;
}
body .subscribe-block .content input::-ms-input-placeholder {
  color: #aaa;
}
body .subscribe-block .content input::-moz-placeholder {
  color: #aaa;
}
body .subscribe-block .block.newsletter .input-wrapper {
  margin-right: 10px;
}
body .subscribe-block .btn.btn-primary.type-2 {
  margin-top: 10px;
}
.newsletter .btn.btn-primary.type-2 {
  overflow: hidden;
  background-color: transparent;
  border: 1px solid rgba(0,0,0,0.08);
  padding: 0 19px;
  height: 40px;
  vertical-align: top;
}
.newsletter .btn.btn-primary.type-2:hover,
.newsletter .btn.btn-primary.type-2:focus,
.newsletter .btn.btn-primary.type-2:active {
  color: #fff;
}


.footer,
.footer address,
.footer .store-switcher label,
.footer .form-language label,
.footer .form-currency label,
.footer ul.social-links li a {
  color: rgba(0,0,0,0.6);
}
.footer .footer-block-title {
  color: #222;
  font-weight: 500;
}
body.wide-layout .footer,
body.boxed-layout .footer .container {
  background-color: #f5f5f5;
}
body.wide-layout .footer .footer-bottom,
body.boxed-layout .footer .footer-bottom .container {
  border-top: 1px solid rgba(0,0,0,0.08);
}
.footer .links a:before {
  background-color: #3185fc;
}
.footer a:hover,
.footer a:focus,
.footer a:active {
  color: #3185fc;
}
.footer .horizontal-links li a:hover:before,
.footer .links a:hover:after {
    background-color: #3185fc;
}
.footer .horizontal-links li a:hover,
body .footer ul.social-links li a:hover {
  color: rgba(0,0,0,0.6);
  background-color: rgba(0,0,0,0.08);
}
.page-footer .switcher .options .action.toggle {
  background-color: rgba(0,0,0,0.06);
}
.page-footer .switcher .options strong {
  color: rgba(0,0,0,0.4);
}
.page-footer .switcher .options .action.toggle:after {border-top-color: #aaa;}
.footer p.category-list {
  color: rgba(0,0,0,0.6);
  font-size: 13px;
  margin-bottom: 10px;
}
.footer p.category-list span {
  font-weight: bold;
}
.footer p.category-list a {
  padding-left: 0px; padding-right: 0; position: relative;
}
.footer p.category-list > a:not(:first-of-type):before {
  content: '|';
  color: rgba(0,0,0,0.6);
  margin-right: 2px;
}

.footer .switcher .label {
  color: rgba(0,0,0,0.6);
}

@media only screen and (min-width: 1008px){
	.megamenu > .topmenu > li[data-vertical-parent="1"] {
		min-width: 191px;
		padding: 0;
	}
	.megamenu > .topmenu > li[data-vertical-parent="1"] .megamenu-wrapper{width: 125%;}
	.megamenu > .topmenu > li[data-vertical-parent="1"] a.level-top:before{
		margin-left: 7px;
		margin-right: 0;
		margin-top: 4px;
	}
	
  .header-wrapper .navbar-collapse.collapse li.first a.level-top {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    border: 1px solid #3185fc;
    border-radius: 4px;
    padding: 8px 15px;
    z-index: 99;
    background-color: #3185fc;
    text-transform: none;
    width: 190px;
    border-radius: 0;
    margin-bottom: -1px;
    text-align: center;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
  }


  .header-wrapper .navbar-collapse.collapse  li.first a.level-top.ui-state-focus,
  .header-wrapper .navbar-collapse.collapse  li.first a.level-top.ui-state-active {background-color: #e84855; color: #fff;}
  .header-wrapper .navbar-collapse.collapse  li.first.parent a.level-top.ui-state-focus,
  .header-wrapper .navbar-collapse.collapse  li.first.parent a.level-top.ui-state-active {
    border-bottom-color: #fff;
    background-color: #e84855;
    color: #fff;
    -webkit-box-shadow: -4px 8px 14px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -4px 8px 14px 0px rgba(0,0,0,0.2);
    box-shadow: -4px 8px 14px 0px rgba(0,0,0,0.2);
  }
  .header-wrapper .navbar-collapse.collapse li.first.active > a.level-top,
  .header-wrapper .navbar-collapse.collapse li.first.active > a.level-top.ui-state-active,
  .header-wrapper .navbar-collapse.collapse li.first.active > a.level-top.ui-state-focus {background-color: #e84855; color: #fff; border-color: #eee;}

  .header-wrapper .navbar-collapse.collapse li.first a.level-top.ui-state-focus,
  .header-wrapper .navbar-collapse.collapse li.first a.level-top.ui-state-active {background-color: #e84855; color: #fff;}
  .header-wrapper .navbar-collapse.collapse li.active.first > a.level-top,
  .header-wrapper .navbar-collapse.collapse li.active.first > a.level-top.ui-state-active,
  .header-wrapper .navbar-collapse.collapse li.active.first > a.level-top.ui-state-focus {background-color: #e84855; color: #fff; border-color: rgba(255,255,255,0.1);}
  .header-wrapper .navbar-collapse.collapse i.first.parent a.level-top.ui-state-focus,
  .header-wrapper .navbar-collapse.collapse i.first.parent a.level-top.ui-state-active {
    background-color: #e84855;
    color: #fff;
  }
  .header-wrapper .toggle-nav {
    padding: 20px 0;
  }

  .header-wrapper .navbar-collapse.collapse li.first a.level-top .ui-menu-icon {
    display: none;
  }
  .header-wrapper .navbar-collapse.collapse li.first a.level-top span {
    float: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5em;
    position: relative;
    margin-top: 0;
  }
  .header-wrapper .navbar-collapse.collapse li.first a.level-top:before {
    content: '\0078';
    display: inline-block;
    font-family: 'meigee';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    margin-right: 10px;
    color: inherit;
    vertical-align: middle;
  }
	.wide-layout .header-wrapper .menu-wrapper,
	.wide-layout .header-wrapper .menu-wrapper  .menu-inner,
	.boxed-layout .header-wrapper .menu-wrapper,
	.boxed-layout .header-wrapper .menu-wrapper .menu-inner{position: static;}
	.wide-layout .header-wrapper .middle-block > .container,
	.boxed-layout .header-wrapper .middle-block > .container{position: relative;}
  
  #sticky-header .navbar-collapse.collapse li.first a.level-top {
    color: #222;
    border: none;
    background-color: transparent;
    width: auto;
  }
  #sticky-header .navbar-collapse.collapse li.first a.level-top:hover,
  #sticky-header .navbar-collapse.collapse li.first a.level-top.ui-state-focus,
  #sticky-header .navbar-collapse.collapse li.first a.level-top.ui-state-active {
    background-color: rgba(0,0,0,0.03);
  }
  #sticky-header .navbar-collapse.collapse a.level-top {margin-top: 6px;}
}

@media only screen and (min-width: 1008px) and (max-width: 1331px) {
  .page-header.header-5 .block-search {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 300px;
  }
  .subscribe-block .block-title {
    font-size: 28px;
    line-height: 28px;
    width: 24.333333%;
  }
  body .subscribe-block .block.newsletter {
    width: 75.666667%;
  }
  body .subscribe-block {
    padding: 35px 20px 39px;
  }
  body .subscribe-block .content label {
    width: 44.89999%;
    max-width: 333px;
  }
  body .subscribe-block .content label span {
    padding-right: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1007px) {
  .header-wrapper .block-search {
    float: left;
    margin-right: 0;
    max-width: 340px;
    margin-left: 0;
  }
  .header-5 .search-mini-form .form-search .btn span span {
    display: block;
  }
  .header-5 .account-language-currency-wrapper + .top-cart:before,
  .header-5 .mobile-wrapper-links + .top-cart:before {content: none;}
  .header-5 .options-wrapper + .minicart-wrapper .action.showcart:before {display: none;}

  body .subscribe-block {
    padding: 40px;
  }
  body .subscribe-block .block.newsletter {
    float: none;
    width: 100%;
  }
  .subscribe-block .block-title{
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  body .subscribe-block .content .field.newsletter {width: 100%;}
  body .subscribe-block .content .control {width: 402px;}
  body .subscribe-block .content label {
    width: 100%;
    min-width: 480px;
    text-align: center;
    padding-bottom: 0;
  }
  body .subscribe-block .content label span{padding-right: 0; min-width: 480px;}
  body .subscribe-block .block.newsletter .input-wrapper {width: 100%;}
  body .subscribe-block .newsletter{text-align: center;}
  body .subscribe-block .newsletter .btn.btn-primary{display: inline-block;}
  body .subscribe-block .content input {max-width: 402px;}
  body.boxed-layout .footer .container,
  body.wide-layout .footer {
    background-color: #eee;
    border-top: 2px solid #111;
  }
  .footer .accordion-list .accordion-item:not(:first-of-type) .accordion-title,
  .footer .accordion-list .accordion-item .accordion-title {
    color: #111;
    border-top: 1px solid rgba(0,0,0,0.08);
  }
  .footer .accordion-list .top-block .accordion-item .accordion-title {
    border-top: none;
  }
  .footer.accordion-list .accordion-item:first-of-type .accordion-title,
  .footer.accordion-list .accordion-item:not(:first-of-type) .accordion-title {
    border-top: 1px solid rgba(0,0,0,0.08);
  }
  #product-review-container .accordion-title,
  .accordion-list .accordion-item .accordion-title {font-weight: 600; font-size: 14px;}

}
@media only screen and (max-width: 767px) {
  .page-header .logo-wrapper {float: none;}
  .header-wrapper .header-5 .block-search {
    width: calc(100% - 70px);
    margin-left: 10px;
    margin-right: 10px;
  }
  .header-5 .options-wrapper + .minicart-wrapper .action.showcart:before {content: none;}
  .header-5 .minicart-wrapper {margin-right: 10px;}

  .page-header.header-5 .middle-block .right-block {
    float: none;
    width: 100%;
  }

  body #home-slider .owl-item .title {
    font-size: 26px;
    line-height: 26px;
  }
  #home-slider .owl-item .slide-container,
  #home-slider .owl-item .slide-container.slide-skin-2 {
    left: 4%;
  }
  #home-slider .slider-price-wrapper,
  #home-slider .owl-item .slider-price-wrapper.slide-skin-2 {
    left: 5%;
  }
  #home-slider .owl-item .slider-price-wrapper.slide-skin-2 {
    bottom: 23%;
  }
  #home-slider .owl-item .slider-price-wrapper.slide-skin-2 .slider-price-text {
    margin-bottom: 0;
  }
  #home-slider .owl-item .slider-price-wrapper.slide-skin-2 .slider-price {
    font-size: 22px;
    line-height: 22px;
  }
  #home-slider .owl-item .slider-price-wrapper.slide-skin-2 .slider-price-small {
    font-size: 16px;
    line-height: 26px;
  }
  #home-slider .owl-item .slide-container.slide-skin-3 {
    left: 4%;
    top: 6%;
  }

  body .subscribe-block {
    padding: 30px 20px;
  }
  body .subscribe-block .block.newsletter {
    float: none;
    width: 100%;
  }
  body .subscribe-block .content .field.newsletter {
    width: 100%;
  }
  body .subscribe-block .block-title{
    font-size: 36px;
    line-height: 36px;
    width: 100%;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  body .subscribe-block .content label {
    width: 100%;
    text-align: center;
    padding-bottom: 0;
  }
  body .subscribe-block .content input {width: 100%;}
  body .subscribe-block .content label span{padding-right: 0;}
  body .subscribe-block .block.newsletter .input-wrapper {width: 100%;}
  body .subscribe-block .newsletter{text-align: center;}
  body .subscribe-block .newsletter .btn.btn-primary{display: inline-block; margin-top: 20px;}


  body.boxed-layout .footer .container,
  body.wide-layout .footer {
    background-color: #eee;
    border-top: 2px solid #111;
  }
  .footer .accordion-list .accordion-item:not(:first-of-type) .accordion-title,
  .footer .accordion-list .accordion-item .accordion-title {
    color: #111;
    border-top: 1px solid rgba(0,0,0,0.08);
  }
  .footer .accordion-list .top-block .accordion-item .accordion-title {
    border-top: none;
  }
  .footer.accordion-list .accordion-item:first-of-type .accordion-title,
  .footer.accordion-list .accordion-item:not(:first-of-type) .accordion-title {
    border-top: 1px solid rgba(0,0,0,0.08);
  }
  #product-review-container .accordion-title,
  .accordion-list .accordion-item .accordion-title {font-weight: 600; font-size: 14px;}

  .header-wrapper .block-search .input-group .mobile-search-btn:after {
	  opacity: 0;
  }
}























