<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="Magecomp_Extrafee::addAddressType" type="Magecomp\Extrafee\Plugin\LayoutProcessorPlugin" sortOrder="10"/>
    </type>
    <type name="Aheadworks\OneStepCheckout\Block\Checkout">
        <plugin name="Magecomp_Extrafee::addAddressTypeprocessor" type="Magecomp\Extrafee\Plugin\AddressTypeProcessor" sortOrder="10"/>
    </type>
    <type name="Aheadworks\OneStepCheckout\Model\ConfigProvider">
        <plugin name="Magecomp_Extrafee::checkout_provider" type="Magecomp\Extrafee\Plugin\DeliveryConfigProvider" sortOrder="10"/>
    </type>
</config>
