<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <gsoshipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Winestop\Gso\Model\Carrier\Shipping</model>
                <title>GSO (Golden State Overnight)</title>
                <name>Next Day</name>
                <gso_shipment_api>https://api.gso.com/Rest/v1/Shipment</gso_shipment_api>
                <gso_trackShipment_api>https://api.gso.com/Rest/v1/TrackShipment</gso_trackShipment_api>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>                
                <handling_type>F</handling_type>
            </gsoshipping>
        </carriers>
    </default>
</config>