<li class="aw-onestep-groups_item">
    <div class="group-title">
        <h2><span class="mark"></span><span data-bind="i18n: 'Delivery Method'"></span></h2>
    </div>
    <div class="group-content">
        <div class="onestep-delivery-method">
            <!-- <div class="admin__field-control">
                <div class="admin__field admin__field-option">
                    <input class="admin__control-radio" id="delivery_storepickup" value="storepickup" data-bind="{checked: isStorePickupSelected(), event: {click : selectRow}}" type="radio" name="delivery_method">
                    <label class="admin__field-label" for="delivery_storepickup">STORE PICKUP/CURBSIDE<span data-bind="css: {_visible: isStorePickupSelected()}">$0.00</span></label>
                    <span data-bind="css: {_visible: isStorePickupSelected()}">STORE LOCATION</span>
                    <span data-bind="css: {_visible: isStorePickupSelected()}">337 Primerose, Burlingame, CA 94010</span>
                </div>
                <div class="admin__field admin__field-option">
                    <input class="admin__control-radio" id="delivery_ship" value="ship" data-bind="{checked: !isStorePickupSelected(), event: {click : selectRow}}" type="radio" name="delivery_method">
                    <label class="admin__field-label" for="delivery_ship">SHIP</label>
                </div>
            </div> -->
            <!-- ko foreach: getRegion('delivery-method-fieldset') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </div>
</li>
